.dashboard{
    background: rgba($color-secondary, .2);
    flex-grow: 1;
    padding: $large-padding;
    height: calc(100vh - 6rem);
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}