.grid {
    position: relative;
    display: grid;
    height: 100%;
    width: 390px;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-template-rows: repeat(8, 90px);
    grid-gap: 10px;
    

    &__block{
        height: 9.5rem;
        width: 9.5rem;
        border: 1px solid $color-black;
    }

    &:not(:last-child){
        margin-right: $huge-margin;
    }

    &::last-child{
        padding-left: $large-padding;
    }

}

.grid-tile {
    background: $color-white;

    &__small{
        grid-column: span 1;
        grid-row: span 1;
    }

    &__medium{
        grid-column: span 2;
        grid-row: span 2;
    }

    &__wide{
        grid-column: span 4;
        grid-row: span 2;
    }
}

.col-2{ grid-column: 1 / span 1; }
.col-2{ grid-column: 2 / span 1; }
.col-3{ grid-column: 3 / span 1; }
.col-4{ grid-column: 4 / span 1; }

.row-1{ grid-row: 1 / span 1; }
.row-2{ grid-row: 2 / span 1; }
.row-3{ grid-row: 3 / span 1; }
.row-4{ grid-row: 4 / span 1; }
.row-5{ grid-row: 5 / span 1; }
.row-6{ grid-row: 6 / span 1; }
.row-7{ grid-row: 7 / span 1; }
.row-8{ grid-row: 8 / span 1; }

